= div_for investigation do
  %h3
    %span.actions
      = link_to 'Delete', patient_investigation_path(:patient_id => @patient, :id => investigation), :confirm => 'Are you sure?', :method => :delete
  = investigation.investigation
