%h3 New Investigation
= form_for([@patient, @patient.investigations.new]) do |f|
  .field
    = f.label :investigation
    %br/
    = f.text_field :investigation
  .actions
    = f.submit 'Add Investigation'