= div_for complaint do
  %p
    %span.actions
      = link_to 'Delete', patient_complaint_path(:patient_id => @patient, :id => complaint), :confirm => 'Are you sure you want to delete this complaint?', :method => :delete, :remote => true
  = complaint.complaint