%h3 New Complaint
= form_for [@patient, @patient.complaints.new], :html => {:style => 'display: none;'} do |f|
  .field
    = f.label :complaint
    %br/
    = f.text_field :complaint
  .actions
    = f.submit "Add Complaint"
