<%= div_for treatment do %>
  <h3>
    <span class='actions'>
       <%= link_to 'Delete', patient_treatment_path(:patient_id => @patient, :id => treatment), :confirm => 'Are you sure?', :method => :delete %>
    </span>
  </h3>
  <%= treatment.treatment %>
<% end %>
