%h3 New Treatment
= form_for [@patient, @patient.initial_treatments.new], :html => {:style => 'display: none;'} do |f|
  .field
    = f.label :treatment
    %br/
    = f.text_field :treatment
  .actions
    = f.submit 'Add Treatment'