.block.notice
  %h3 Sidebar
.block
  %h3 Links
  %ul.navigation
    %li
      %a{:href => new_patient_path} New Patient
    %li
      %a{:href => "#", :onclick => "window.print();return false;"} Print
