.block.notice.noprint
  %h3 Sidebar
.block.noprint
  %h3 Links
  %ul.navigation
    %li
      %a{:href => new_patient_path} New Patient
    %li
      %a{:href => "#", :onclick => "window.print();return false;"} Print
